.header {
    display: flex;
    justify-content: space-between;
    border: solid black;
}

.logo {
    width: 200px;
}

.nav-items > ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.filter {
    padding: 10px;
    display: flex;
}
.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    padding: 5px;
    width : 200px;
    height: 300px;
    height: fit-content;
}


.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.res-logo {
    width: 100%;
}

.filter-btn {
    cursor: pointer;
    margin: 10px;
    
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    margin: 20px;
    width: 200px;
    height: 350px;
    background-color: #f0f0f0;
}

.login-btn {
    margin: 0 20px;
    background-color: aquamarine;
    cursor: pointer;
}

.search {
    padding: 10px;
    display: flex;
}